<!-- //thanks to Zach SAUCIER -->

<div ng-controller = "MainController"class="hamburger-nav-wrapper text-center">
  <ol style = "list-style-type:none">
    <li class = "link-wrapper">
      <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
      <rect class="shape" height="60" width="320" />
      <div ng-click = "showNavigation(false)"class="text"><a>Landing Page</a></div>
    </svg></li>
    <li class = "link-wrapper">
      <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
      <rect class="shape" height="60" width="320" />
      <div class="text"><a href="#/home/about">About Me</a></div>
    </svg></li>
    <li class = "link-wrapper">
      <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
      <rect class="shape" height="60" width="320" />
      <div class="text"><a href="#/home/portfolio">Portfolio</a></div>
    </svg></li>
    <li class = "link-wrapper">
      <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
      <rect class="shape" height="60" width="320" />
      <div class="text"><a href="#/home/contact">Contact</a></div>
    </svg></li>
  </ol>
</div>
