<div ng-controller = "HomeController"ng-mouseover = "changeXAxis()"id = "scrolling-div">
  <div id="b">
         <div class="img_holder">
           <div class="img about">
             <a href="#">About</a>
             <about-directive></about-directive>
           </div>
           <div class="img portfolio">
              <a href="#">Portfolio</a>
              <portfolio-directive></portfolio-directive>
           </div>
           <div class="img contact">
             <a href="#">Contact</a>
             <contact-directive></contact-directive>
           </div>

         </div>
     </div>

</div>
