
<div ng-controller = "MainController" class="wrapper-cube text-center">
  <video loop muted autoplay poster="../../files/video.jpg"class="fullscreen-video">
     <source src="../../files/batter.mp4" type="video/mp4">
  </video>
  <section class="container-cube">
    <div id="cube">
      <figure class="front"><p>
        Charles  G. Lane
      </p></figure>
      <figure class="back"><p>
        Web Developer
      </p></figure>
      <figure class="right"><p>
        Iron Yard 2015
      </p></figure>
      <figure class="left"><p>
        UX Focus
      </p></figure>
      <figure class="top"><p>
        Front-end Engineering
      </p></figure>
      <figure class="bottom"><p>
        Style
      </p></figure>
    </div>
  </section>
    <animated-hamburger ng-click = 'showNavigation(true)'></animated-hamburger>
    <my-name></my-name>
</div>

<h1 id = "name-tag"> 2016 Charles Lane, Charleston SC</h1>
<!-- <h1 id = "charles">Charles<small></small></h1>
<h1 id = "lane"> Lane<small></small></h1> -->
