
<div ng-controller = "MainController" class="wrapper-cube text-center">
  <video loop muted autoplay poster="../../files/video.jpg"class="fullscreen-video">
     <source src="../../files/batter.mp4" type="video/mp4">
  </video>
  <cube-directive></cube-directive>
    <animated-hamburger ng-click = 'showNavigation(true)'></animated-hamburger>
    <my-name></my-name>
</div>

<h1 id = "name-tag"> 2016 Charles Lane, Charleston SC</h1>
<!-- <h1 id = "charles">Charles<small></small></h1>
<h1 id = "lane"> Lane<small></small></h1> -->
