<return-landing></return-landing>
<div class="portfolio-wrapper">
  <h1>Portfolio <small></small></h1>
  <video width="100" height="100" autoplay >
    <source src="../../files/WeDayVideo.mov" type="video/mov">
  </video>
  <div class="portfolio one">
    <a href="http://cglane.github.io/scrabbleWeb/#/"><h1>Scrabble App</h1></a>
    <a href="https://github.com/cglane/scrabbleWeb">Github</a>
    <p>
      A scrabble cheating App that gives all possible combinations for a set group of letters.
      All combinations that are english words are returned, with their corresponding point count and definition.
    </p>
  </div>
  <div class="portfolio two">
    <a href="http://virginiadawsonlanearchitect.com/#/"><h1>Architect Website</h1></a>
    <a href="https://github.com/cglane/vdlMerge">Github</a>
    <p>
      A business site for a local Architect with different views for contact information and a robust picture album.
    </p>
  </div>
  <div class="portfolio three">
    <a href="https://chrome.google.com/webstore/detail/onion-headlines/ejbcloneedcjeiaahcebfcncknapopof?hl=en-US"> <h1>Chrome Extension</h1></a>
    <a href="https://github.com/cglane/google-extension">Github</a>
    <p>
      A chrome extension that converts any news website's headlines into "The Onion" news headlines.
      Download and then navigate to the <a href="http://www.newyorktimes.com"> The New York Times</a> or your favorite news site.
    </p>
  </div>
  <div class="portfolio four">
    <h1 ng-click = "showVideo()">We-Day <small></small></h1>
    <a href="https://github.com/cglane/We_day">Github</a>
    <p>
      A wedding planning app with an integrated calendar, and SMS/Email functionality.
    </p>

  </div>
  <div ng-click = "showVideo()"class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>
<video  ng-click = "showVideo()"id = 'we-day-video' src="../../files/WeDayVideo.mov"autoplay >
</video>
<h1 class = "selection-projects"> &#60-Selection of Projects -- - --- -- > <small></small></h1>
