<div class="portfolio-wrapper">
  <h1>Portfolio <small></small></h1>
  <div class="portfolio one">
    <a href="http://cglane.github.io/scrabbleWeb/#/"><h1>Scrabble App</h1></a>
    <a href="https://github.com/cglane/scrabbleWeb">Github</a>
    <p>
      An app that gives all possible words for string of letters, points in scrabble, and definition of all the words.
      The app pulls from a dictionary API and cross-references the 200,000 word long npm-array-of-english-words.
    </p>
  </div>
  <div class="portfolio two">
    <a href="http://cglane.github.io/VDL/#/"><h1>Architect Website</h1></a>
    <a href="https://github.com/cglane/VDL">Github</a>
    <p>
      A business site for a local Architect with different views for contact information and a robust picture album.
    </p>
  </div>
  <div class="portfolio three">
    <a href="https://chrome.google.com/webstore/detail/onion-headlines/ejbcloneedcjeiaahcebfcncknapopof?hl=en-US"> <h1>Chrome Extension</h1></a>
    <a href="https://github.com/cglane/google-extension">Github</a>
    <p>
      A chrome extension that converts a new website headlines into "The Onion" news headlines.
      Download and navigate to the <a href="http://www.newyorktimes.com"> The New York Times</a> or your favorite news site.
    </p>
  </div>
  <div class="portfolio four">
    <h1>We-Day <small></small></h1>
    <a href="https://github.com/cglane/We_day">Github</a>
    <p>
      A wedding planning app with an integrated calendar, and SMS & email functionality.
    </p>
  </div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>
<h1 class = "selection-projects"> &#60-Selection of Projects -- - --- -- > <small></small></h1>
